@font-face {
  font-family: google;
  src: url("font/GoogleSans-Medium.ttf");
}
@font-face {
  font-family: google1;
  src: url("font/GoogleSans-Regular.ttf");
}

body {
  background-image: url(image/backgroundCatalogue.jpg);
  background-size: cover;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: google;
} */

.trapezium {
  /* margin-top: 10vh; */
  margin-top: 30px;
  display: flex;
  position: relative;
}
.trapezium img {
  /* height: 10px; */
  /* width: 50vw; */
  width: 100%;
}
.trapeziumTextLeft {
  position: absolute;
  font-size: 7vw;
  color: rgb(255, 255, 255);
  top: 22%;
  left: 12%;
  font-family: google;
  text-shadow: 0 0 10px rgb(54, 112, 166);
}

.trapeziumTextRight p {
  position: absolute;
  font-size: 2vw;
  color: rgb(16, 42, 66);
  top: 52%;
  right: 7%;
  font-family: google1;
  text-align: right;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
.destinationTop {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin: 100px 0 20px 0;
}
.destinationTop img {
  width: 40vw;
  aspect-ratio: 1/1;
  /* border-radius: 10px; */
}

.destinationLeft img {
  width: 40vw;
  height: 19.5vw;
  max-height: 50%;
  margin: 0 20px 0 20px;
  object-fit: cover;
}

.destinationRight img {
  background-size: contain;
}

.destinationBot {
  display: flex;
  justify-content: center;
  margin: 0 20px 20px 0;
}

.destinationRight img {
  width: 40vw;
  height: 19.5vw;
  max-height: 50%;
  margin: 0 20px 0 0;
  /* border-radius: 10px; */
  object-fit: cover;
}
.destinationBot img {
  width: 40vw;
  aspect-ratio: 1 / 1;
  /* border-radius: 10px; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 100px 0;
}

.item img {
  border-radius: 10px;
}

.carousel-caption h3 {
  font-size: 7vw;
  text-shadow: 10px 10px 20px black;
  font-family: google1;
}

.carousel-caption p {
  font-size: 2vw;
  text-shadow: 5px 5px 10px black;
  font-family: google1;
}

.TurkiyeImage {
  position: relative;
}
.textCaptionTurkiye {
  position: absolute;
  bottom: 80%;
  left: 10%;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.textCaptionTurkiye h2 {
  font-size: 4vw;
}

.countryPrice {
  font-size: 2vw;
}

#HoverZoom {
  transition: transform 0.2s;
}
#HoverZoomText {
  transition: transform 0.2s;
}
#HoverZoomText:hover {
  transform: scale(1.03);
}
#HoverZoom:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px white;
}
/* .pictureCatalogue {
font-size: 100px;
position: relative;
text-align: center;
color: #f2f2f2;
}


.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .textOverlay {
      font-size: 1.5rem;
  }
} */
