@font-face {
  font-family: google;
  src: url(font/GoogleSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  font-family: google;
  position: relative;
  top: 80px;
  line-height: 60px;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  color: #fff;
  /* text-shadow: 0px 0px 40px black; */
  letter-spacing: 2px;
}
body {
  background-color: black;
}
.content h2 {
  text-align: left;
  padding-left: 2%;
}
.box {
  background-color: rgb(74, 73, 72);
  margin: 1% 10% 10% 10%;
  border-radius: 1%;
}
.boxtop {
  display: flex;
  padding-bottom: 2%;
  padding-right: 2%;
}

.box .itenary {
  padding-top: 5%;
  background-color: white;
  color: black;
  width: 460px;
}
.itenary h3 {
  font-size: 24px;
  line-height: 100%;
}
.itenary h5 {
  font-size: 15px;
  text-decoration: underline;
}
.itenary p {
  font-size: 14px;
  line-height: 80%;
  padding-bottom: 20%;
}

.boxbottom {
  justify-content: center;
  padding: 0.0000001% 2% 2% 2%;
  color: black;
}
.desc {
  background-color: rgb(255, 255, 255);
  padding: 2% 2% 2% 2%;
  border-radius: 2%;
  line-height: 1.5;
}
.desc h3 {
  font-size: 30px;
}

.desc h4 {
  text-align: left;
  font-style: oblique;
  font-size: 20px;
  font-weight: 900;
}

.desc h5 {
  font-size: 15px;
  text-align: left;
  text-decoration: underline;
}
.desc li {
  text-align: left;
}
.desc ul {
  text-align: left;
  padding-left: 2%;
}
.desc p {
  font-size: 10px;
  line-height: 120%;
  text-align: justify;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.image-slide {
  position: relative;
  width: 998px;
  padding-left: 2%;
  padding-right: 2%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.boxtop .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  justify-content: space-between;
  margin-left: -47.2%;
  margin-right: 2.9%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 32px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-image-slide {
  text-align: center;
  background-color: rgb(34, 32, 32);
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.btn {
  background-color: rgb(34, 32, 32);
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  font-weight: 100;
  font-size: 12px;
  width: 90%;
}

.btn:hover {
  background-color: white;
  color: black;
}
